<header class="header">
  <div
    class="bg-dark"
    data-bs-toggle="collapse"
    data-bs-target="#collapseExample"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    <div class="container">
      <div class="row collapse" id="collapseExample">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-white">User: Jhon</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Edit user</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="mr-2"
        >
          <path
            d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"
          ></path>
          <circle cx="12" cy="13" r="4"></circle>
        </svg>
        <strong>Pokedex</strong>
      </a>
      <button
        class="btn btn-dark"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main" class="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Pokedex</h1>
      <p class="lead text-muted">
        The Pokédex keeps track of the Pokémon you've seen and caught. Use the
        Pokédex to learn more about the different species of Pokémon and their
        Evolutions.
      </p>

      <!-- SEARCH COMPONENT -->

      <app-search></app-search>

      <!-- SEARCH COMPONENT -->

    </div>
  </section>
  <div class="container">
    <div class="album py-5 bg-light">
      <div class="container">

        <!-- RESPONSE COMPONENT -->

        <app-response></app-response>

        <!-- RESPONSE COMPONENT -->
        
      </div>
    </div>
  </div>
</main>
<footer class="text">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p><strong>Create by Jhon Carlos Acevedo Mendoza</strong></p>
  </div>
</footer>
