<div class="input-group">
  <input
    type="text"
    class="form-control"
    aria-label="Text input with segmented dropdown button"
  />
  <button type="button" class="btn btn-outline-secondary">Search</button>
  <button
    type="button"
    class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Categories
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><a class="dropdown-item" href="#">A-Z</a></li>
    <li><a class="dropdown-item" href="#">Z-A</a></li>
    <li><a class="dropdown-item" href="#">Strongest</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Random</a></li>
  </ul>
</div>
